{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
				{% bootstrap_css %}
				<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        {% bootstrap_javascript jquery='slim' %}
    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">                                           
                <a class="navbar-item text-danger title" href="{% url 'home' %}">
                    <header class="mb-4">
                        <h1 class="display-1 text-center p-3 mb-2 bg-white text-dark">Django-blog</h1>
                    </header> 
                </a>                        
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item subtitle mt-2" href="{% url 'post_new' %}">{% buttons submit='New blog post' %}{% endbuttons %}</a>
                </div>
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                        <span class="navbar-item">Hi {{ user.username }}!</span>                                
                        <a class="navbar-item" href="{% url 'logout'%}">{% buttons submit='Log out' %}{% endbuttons %}</a>                                
                    {% else %}
                        <span class="navbar-item" >You are not logged in</span>
                        <a class="navbar-item" href="{% url 'login' %}">{% buttons submit='Log in' %}{% endbuttons %}</a>
                        <a class="navbar-item" href="{% url 'signup' %}">{% buttons submit='Sign up' %}{% endbuttons %}</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <section class="section is-fullheight col border py-2">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </section>
				<footer class="footer">
					<div>
						<p class="p-3 mb-2 text-center bg-dark text-white is-size-4">Made by kit</p>
					</div>
				</footer>
    </body>
</html>