{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<div class="box">
    <article class="media">
        <div class="media-content">
            {% if bb.image %}
            <div class="col-md-auto">
                <img src="{{ post.image.url }}" class="main-image">
            </div>
            {% endif %}
            <h2 class="is-size-5">
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
            </h2>
            <div>{{ post.body|linebreaks }}</div>
            <p class="author has-text-right is-italic"> {{ post.author }}</p>
        </div>
    </article>
</div>

{% if ais %}
<div class="d-flex justify-content-between flex-wrap mt-5">
    {% for ai in ais %}
    <div>
        <img class="additional-image" src="{{ ai.image.url }}">
    </div>
    {% endfor %}
</div>
{% endif %}
<h4 class="mt-5">Новый комментарий</h4>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %} 
    {% buttons submit='Добавить' %}{% endbuttons %}
    
</form>
{% if comments %}
<div class="mt-5">
    {% for comment in comments %}
    <div class='my-2 p-2 border'>
        <h5>
            {{ comment.author }}
        </h5>
        <p>{{ comment.content }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

<nav class="level">
    {% if user.is_authenticated and user == post.author %}    
    <div class="container">
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a class="btn btn-primary me-md-2" href="{% url 'post_edit' post.pk %}" type="button">Edit blog post</a>
				<a class="btn btn-primary ml-2" href="{% url 'post_delete' post.pk %}" type="button">Delete blog post</a>
			</div>
    </div>
		{% else %}
		<a class="nav-link" href="{% url 'signup' %}">{% buttons submit='Login' %}{% endbuttons %}</a>
		{% endif %}
</nav>

{% endblock content %}